.App-section {
  max-width: 1200px;
  min-height: 90vh;
  margin: auto;
  padding: 0 2rem 0 2rem;
}

.App-section__title {
  color: #F7931A;
  text-align: center;
}

.App-section__summary {
  margin: auto;
  max-width: 50rem;
}

.Hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Hero-image {
  display: flex;
  justify-content: right;
  flex: 1;
  height: 25rem;
}

.Hero-main {
  flex: 1;
}

.button {
  font-weight : bold ;
  border: none;
  cursor: pointer;
}

.button--cta {
  padding: 1rem 2rem 1rem 2rem;
  background-color: #F7931A;
  color: white;
  font-size: 20px;
}