.Header-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem 0 1rem;
  }
  
  .Header-logo {
    height: 4rem;
    pointer-events: none;
  }
  
  .Header-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .Header-link {
    cursor: pointer;
  }
  
  